*
node_modules/

!**/

!.gitignore
!.github/
!.github/**
!/README.adoc
!/CHANGELOG.adoc
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/tsconfig.json
!schemas/
!schemas/**
!contracts/
!contracts/**
!lib/
!lib/**
!scripts/
!scripts/**
!examples/
!examples/**
!docs/
!docs/**